<!DOCTYPE html>
<html>
<head>
	<title>--title--</title>
	<link rel="stylesheet" href="/css/w3.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-container w3-teal">
	  <h1>Mis Ventas</h1>
	</div>

	<div class="w3-bar w3-light-grey w3-border w3-card-4">
		<a href="/" class="w3-bar-item w3-button">Artículos</a>
		<form method="get" action="/search">
	    	<input name="query" type="text" --search-value-- class="w3-bar-item w3-input w3-white" style="width: 40%;" placeholder="Buscar..">
	    	<button class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
		</form>
		<a href="#" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i></a>
		<a href="#" class="w3-bar-item w3-button">Vender artículo</a>
		<div style="float: right;">
		    <a href="/login" class="w3-bar-item w3-button w3-border-right">Ingresar</a>
		    <a href="#" class="w3-bar-item w3-button w3-border-right">Registrarse</a>
		    <a href="#" class="w3-bar-item w3-button">Ayuda</a>
		</div>
  	</div>

  	<h2 style="margin: 10px 20px;">--subtitle--</h2>

  	<page-content>
  	
</body>
</html>