<!DOCTYPE html>
<html>
<head>
	<title>--title--</title>
	<link rel="stylesheet" href="/css/w3.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-container w3-teal">
	  <h1>Mis Ventas</h1>
	</div>

	<div class="w3-bar w3-light-grey w3-border">
		<a href="#" class="w3-bar-item w3-button w3-mobile">Home</a>
	    <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 40em;" placeholder="Buscar..">
	    <button class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
	    <a href="#" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-shopping-cart"></i></a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Vender artículo</a>
	    <a href="/login" class="w3-bar-item w3-button w3-mobile">Iniciar sesión</a>
	    <span class="w3-bar-item w3-mobile" style="background-color: inherit;padding: 8px 0px;">/</span>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Registrarse</a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Ayuda</a>
  	</div>

  	<product-table>
  	
  	
</body>
</html>