<div class="w3-bar w3-light-grey w3-border w3-card-4">
<a href="/" class="w3-bar-item w3-button">Artículos</a>
<form method="get" action="/search">
	<input name="query" type="text" --search-value-- class="w3-bar-item w3-input w3-white" style="width: 40%;" placeholder="Buscar..">
	<button class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
</form>
<shoppings-link>
<new-product-link>
<div style="float: right;">
    <a href="--login-url--" class="w3-bar-item w3-button w3-border-right">--login-text--</a>
    <register-link>
    <a href="/support" class="w3-bar-item w3-button">Ayuda</a>
</div>
</div>