<form class="w3-container w3-card-4 w3-light-grey" style="margin: 5% 25% !important;">
    <p><label>Nombre del artículo</label>
    <input class="w3-input w3-border" name="name" type="text"></p>

    <p><label>Precio</label>
    <input class="w3-input w3-border" name="price" type="text"></p>

	<p><label>Descripción</label>
	<textarea class="w3-input w3-border" name="description"></textarea>

	<p class="w3-center">
		<button class="w3-button w3-section w3-green w3-ripple"> Crear </button>
	</p>
</form>