<form class="w3-container w3-card-4 w3-light-grey" style="margin: 2% 25% !important;" 
method="post" action="/create_product">
    <p><label>Nombre del artículo</label>
    <input class="w3-input w3-border" name="name" type="text"></p>

    <p><label>Precio</label>
    <input class="w3-input w3-border" name="price" type="text"></p>

    <p><label>Cantidad</label>
    <select class="w3-select" name="quantity">
	  <option value="1" selected>1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	</select>

	<p><label>Descripción</label>
	<textarea class="w3-input w3-border" name="description"></textarea>

	<p class="w3-center">
		<button class="w3-button w3-section w3-green w3-ripple"> Crear </button>
	</p>
</form>