<!DOCTYPE html>
<html>
<head>
	<title>Carrito Compras</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-container w3-teal">
	  <h1>Mis Ventas</h1>
	</div>

	<div class="w3-bar w3-light-grey w3-border">
		<a href="#" class="w3-bar-item w3-button w3-mobile">Home</a>
	    <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 40em;" placeholder="Buscar..">
	    <button class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
	    <a href="#" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-shopping-cart"></i></a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Vender artículo</a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Iniciar sesión</a>
	    <span class="w3-bar-item w3-mobile" style="background-color: inherit;padding: 8px 0px;">/</span>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Registrarse</a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Ayuda</a>
  	</div>	

	<h2 style="margin: 10px 20px;">Carrito de compras</h2>

	<table class="w3-table w3-striped w3-border" style="margin: 20px 50px;width: 78em;">
	    <tr>
	    	<td style="vertical-align: middle;width: 3em;">
	    		<input id="buy" class="w3-check" type="checkbox" checked="checked">
	    	</td>
	        <td style="vertical-align: middle;">Samsung Galaxy S8</td>
	        <td style="vertical-align: middle;">400 000</td>
	    </tr>
	    <tr>
	    	<td style="vertical-align: middle;width: 3em;">
	    		<input id="buy" class="w3-check" type="checkbox" checked="checked">
	    	</td>
	        <td style="vertical-align: middle;">Samsung Galaxy S7</td>
	        <td style="vertical-align: middle;">250 000</td>
	    </tr>
	</table>
	<div class="w3-right-align" style="margin: 50px;"><h4>Total: 550 000</h4></div>
	<div class="w3-right-align" style="margin: 50px;"><a href="#" class="w3-btn w3-green">Comprar</a></div>
</body>
</html>