<table class="w3-table w3-striped w3-border" style="margin: 20px 50px;width: 78em;">
    <tr>
    	<td style="vertical-align: middle;width: 3%;">
    		<input id="buy" class="w3-check" type="checkbox" checked="checked">
    	</td>
        <td style="vertical-align: middle;width: 70%;">Samsung Galaxy S8</td>
        <td class="w3-center" style="vertical-align: middle;width: 3%;">1</td>
        <td class="w3-center" style="vertical-align: middle;">400 000</td>
    </tr>
    <tr>
    	<td style="vertical-align: middle;width: 3%;">
    		<input id="buy" class="w3-check" type="checkbox" checked="checked">
    	</td>
        <td style="vertical-align: middle;width: 70%;">Samsung Galaxy S7</td>
        <td class="w3-center" style="vertical-align: middle;width: 3%;">10</td>
        <td class="w3-center" style="vertical-align: middle;">250 000</td>
    </tr>
</table>
<div class="w3-right-align" style="margin: 50px;"><h4>Total: 550 000</h4></div>
<div class="w3-right-align" style="margin: 50px;"><a href="#" class="w3-btn w3-green">Comprar</a></div>