<!DOCTYPE html>
<html>
<head>
	<title>Registrarse</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-container w3-teal">
	  <h1>Mis Ventas</h1>
	</div>
	<div class="w3-bar w3-light-grey w3-border">
		<a href="#" class="w3-bar-item w3-button w3-mobile">Home</a>
	    <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 40em;" placeholder="Buscar..">
	    <button class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
	    <a href="#" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-shopping-cart"></i></a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Vender artículo</a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Iniciar sesión</a>
	    <span class="w3-bar-item w3-mobile" style="background-color: inherit;padding: 8px 0px;">/</span>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Registrarse</a>
	    <a href="#" class="w3-bar-item w3-button w3-mobile">Ayuda</a>
  	</div>	

	<h2 style="margin: 10px 20px;">Registrarse</h2>

	<div class="w3-container w3-half w3-margin-top" style="margin: 10% 25%;">
		<form class="w3-container w3-card-4">
			<p>
				<input class="w3-input" type="text" style="width:90%" required>
				<label>Nombre completo</label>
			</p>
			<p>
				<input class="w3-input" type="text" style="width:90%" required>
				<label>Usuario</label>
			</p>
			<p>
				<input class="w3-input" type="password" style="width:90%" required>
				<label>Contraseña</label>
			</p>
			<p>
				<input class="w3-input" type="text" style="width:90%" required>
				<label>Email</label>
			</p>
			<p>
				<input class="w3-input" type="text" style="width:90%" required>
				<label>Teléfono</label>
			</p>			
			<p>
				<input class="w3-input" type="text" style="width:90%" required>
				<label>Dirección</label>
			</p>			
			<p>
				<button class="w3-button w3-section w3-teal w3-ripple"> Crear Usuario </button>
			</p>
		</form>
	</div>

</body>
</html>