<div class="w3-container w3-half w3-margin-top" style="margin: 10% 25%;">
	<form class="w3-container w3-card-4">
		<p>
			<label>Nombre completo</label>
			<input class="w3-input" name="full_name" type="text" style="width:90%" required>
		</p>
		<p>
			<label>Usuario</label>
			<input class="w3-input" name="username" type="text" style="width:90%" required>
		</p>
		<p>
			<label>Contraseña</label>
			<input class="w3-input" name="psw" type="password" style="width:90%" required>
		</p>
		<p>
			<label>Email</label>
			<input class="w3-input" name="email" type="text" style="width:90%" required>
		</p>
		<p>
			<label>Teléfono</label>
			<input class="w3-input" name="phone" type="text" style="width:90%" required>
		</p>			
		<p>
			<label>Dirección</label>
			<input class="w3-input" name="address" type="text" style="width:90%" required>
		</p>			
		<p>
			<button class="w3-button w3-section w3-teal w3-ripple"> Crear Usuario </button>
		</p>
	</form>
</div>