<form class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin"
	method="post" action="/create_message" style="margin: 5% 25% !important;">
	
	<h2 class="w3-center">Contáctenos</h2>
	 
	<person-data>

	<div class="w3-row w3-section">
	  <div class="w3-col" style="width:50px;height: 100px;"><i class="w3-xxlarge fa fa-pencil"></i></div>
	    <div class="w3-rest">
	      <textarea class="w3-input w3-border" name="message" placeholder="Mensaje"></textarea>
	    </div>
	</div>

	<p class="w3-center">
		<button class="w3-button w3-section w3-green w3-ripple"> Enviar </button>
	</p>
</form>