<table class="w3-table w3-bordered" style="border: 1px solid #ccc;margin: 20px 50px;width: 78em;">--rows--
    <tr>
      <td style="vertical-align: middle;max-width: 40em;">
        <p>Samsung Galaxy S8</p>
        <p>Caracteristicas: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales euismod nulla, sit amet tempor nibh interdum sit amet. Sed.</p>
      </td>
      <td style="vertical-align: middle;">400 000</td>
      <td style="vertical-align: middle;"><a href="#" class="w3-btn w3-green">Comprar</a></td>
    </tr>
    <tr>
      <td style="max-width: 40em;">
      	<p>Samsung Galaxy S8</p>
      	<p>Caracteristicas: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales euismod nulla, sit amet tempor nibh interdum sit amet. Sed.</p>
      </td>
      <td style="vertical-align: middle;">400 000</td>
      <td style="vertical-align: middle;"><a href="#" class="w3-btn w3-green">Comprar</a></td>
    </tr>
    <tr>
      <td style="max-width: 40em;">
      	<p>Samsung Galaxy S8</p>
      	<p>Caracteristicas: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales euismod nulla, sit amet tempor nibh interdum sit amet. Sed.</p>
      </td>
      <td style="vertical-align: middle;">400 000</td>
      <td style="vertical-align: middle;"><a href="#" class="w3-btn w3-green">Comprar</a></td>
    </tr>
</table>